input,.sub{
  height: 42px;
  width: 280px;
  border-radius: 20px;
  display: block;
  margin-top: 23px;
  line-height: 1em;
}

input:focus,.sub:focus
{
  outline: none;
}

::placeholder{
  font-size:12.5px;
  text-align: center;
}

.sub:hover{
      background: linear-gradient(45deg, #0008ff, rgb(0 231 255 / 1));
      color: #FFF;
      cursor: pointer;
      transition: all .3s ease;

}

form{
  margin-left: 36%;
}

.text-p{
  border:0.7px solid #000;
  width: 250px;
  height: 100px;
  margin-left:37%;
  margin-top: 1%;
  border-radius: 5px;
}

.text-p p{
  font-size:18.3px;
  padding-left: 4%;
  padding-top: 7px;
}

@media screen and (max-width: 450px){
  form{
    margin-left: 17%;
  }
  .text-p{
    margin-left: 18%;
    margin-top: 2%;
  }
  .text-p p{
    font-size: 16px;
  }
}

@media screen and (max-width: 360px){
  form{
    margin-left: 6%;
  }
  .text-p{
    margin-left: 7%;
    margin-top: 3%;
  }
  .text-p{
  font-size: 15px;
  }
}