#logo{
	height: 50px;
	padding-bottom: 2%;
}

.navbar{
	height: 56px;
}

#hero{
	width: 100%;
	height: 80vh;
	background-image: url("https://wallpaperstock.net/blue_wallpapers_3057_1280x720.jpg");
	background-size: cover;
}

.link{
	color: white;
	text-decoration: none;
}

:hover.link{
	color: #d4d0cf;
	transition: all .3s ease;
}

@media screen and (max-width: 768px) {
	#logo{
		height: 40px;
	}
}